body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    270deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.container {
  width: 500px;
  position: relative;
}

.carousel {
  display: none;
}

.carousel img {
  height: 700px;
  width: 100%;
}

.carousel-active {
  display: block;
}

.btn-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

#prev-slide,
#next-slide {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

#prev-slide {
  margin-left: 20px;
}

#next-slide {
  margin-right: 20px;
}
